.App {
  padding: 15px;
}

.border-round {
  border-radius: 20px !important;
  flex: 1;
  margin: 20px !important;
}
.table-striped-rows tr:nth-child(2n) td {
  background-color: #fbfbfb;
}
.table-striped-rows thead {
  background-color: #f1f1f1;
}
.empty-favorites {
  min-height: 90px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.app-container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.w-50 {
  width: 50% !important;
}
.card-table-header {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}
